body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: rgb(233, 172, 5);
  font-family: 'Noto Sans JP', sans-serif;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 500px;
}

#title {
  animation-delay: 0.5s;
}

#discription {
  visibility: hidden;
}

#base {
  perspective: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#con1 {
  z-index: -1;
  visibility: hidden;
}

#con2 {
  z-index: 0;
  visibility: hidden;
}

#con3 {
  z-index: -3;
  visibility: hidden;
}

#con4 {
  z-index: -2;
  visibility: hidden;
}

#con5 {
  z-index: -5;
  visibility: hidden;
}

#con6 {
  z-index: -4;
  visibility: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

#down {
  margin: 20px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  animation-delay: 1s;
  font-family: 'Noto Sans JP', sans-serif;
}

#what {
  margin: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  animation-delay: 1s;
  color: black;
  text-decoration: none;
  font-family: 'Noto Sans JP', sans-serif;
}

#what:hover
{
  color: white;
}

.contents {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-delay: 1s;
}

.danchis {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-delay: 1s;
  overflow: hidden;
}

.danchis2 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  overflow: hidden;
}

#title2 {
  visibility: hidden;
  position: absolute;
  text-align: center;
  top: 0;
}

.fadeIn {
  animation: fadeIn 3s ease forwards;
  opacity: 0;
}
  
  @keyframes fadeIn{
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

#scroll {
  visibility: hidden;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

#whatbody {
  animation-delay: 0.5s;
  text-align: center;
}

#backmenu {
  position: absolute;
  text-align: center;
  margin: 20px;
  top: 0px;
  left: 0px;
  color: black;
  text-decoration: none;
  animation-delay: 1s;
}

#backmenu:hover {
  color: white;
}