body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(233, 172, 5);
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 500px;
}

.top {
  animation-delay: 3s;
}

#discription {
  visibility: hidden;
}

#base {
  perspective: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#con1 {
  z-index: 0;
  visibility: hidden;
}

#con2 {
  z-index: -1;
  visibility: hidden;
}


body::-webkit-scrollbar {
    
}

#down {
  margin: 20px;
  position: fixed;
  bottom: 0px;
  right: 0px;
}

#scaler {
  transform-style: preserve-3d;
  transform: translateZ(-100);
}

.contents {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-delay: 1s;
}

.danchis {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-delay: 1s;
}

.fadeIn{
  animation: fadeIn 3s ease forwards;
  opacity: 0;
}
  
  @keyframes fadeIn{
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

#scroll {
  visibility: hidden;
}